<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.startup">
      <startup class="com.seeq.eclipse.Startup"/>
   </extension>
   <extension
       id="application"
       point="org.eclipse.core.runtime.applications">
       <application>
           <run
               class="com.seeq.eclipse.Application">
           </run>
       </application>
   </extension>
</plugin>
